body {
  margin: 36px 40px;
  font-family: 'Karla', serif;
}

/* Header */
h1 {
  margin: 0 0 0.55em;
  font-size: 5em;
  display: flex;
  flex-direction: column;
}
h1 > span {
  margin: 2px auto 2px 2px;
  background-color: #35373c;
  color: #fff;
  padding-right: 0.75em;
}
h1 > span:last-child {
  padding-right: 1.5em;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
    letter-spacing: -3px;
  }
}

p {
  /* margin: 0.5em 0; */
  line-height: 1.5;
}

.em {
  margin: -3px 7px 0;
}

/* Main */
.project-container {
  margin: 0 0 2em;
}
.project-container > header {
  display: flex;
  flex-direction: row;
}
.project-container h2 {
  background-color: #35373c;
  color: #fff;
  margin: 0 1em 0 0;
  padding: 4px 1.1em 4px 6px;
}

.icon-group {
  font-size: 40px;
  display: flex;
}
.icon-group > * {
  margin: 0 2px;
}
.project-container .icon-group {
  filter: saturate(0);
  opacity: 0.75;
  transition: all linear 250ms;
}
.project-container:hover .icon-group {
  filter: saturate(0.7);
  opacity: 1;
}
.devicon-javascript-plain.colored {
  position: relative;
}
.devicon-javascript-plain.colored:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #3a3a3a;
  z-index: -1;
}
.devicon-visualstudio-plain {
  color: #3976bf;
}
.devicon-nodejs-plain {
  color: #78bc8a;
}
.devicon-babel-plain {
  color: #444444;
}
.devicon-sequelize-plain {
  color: #3d77b8;
}

.tag-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.tag-icon.tag-electron {
  background-image: url('assets/icons/electron.png');
  background-size: 90%;
}
.tag-icon.tag-jest {
  background-image: url('assets/icons/jest.png');
  background-size: 70%;
}
.tag-icon.tag-knex {
  background-image: url('assets/icons/knex.png');
  background-size: 90%;
}
.tag-icon.tag-redux {
  background-image: url('assets/icons/redux.png');
  background-size: 90%;
}
.tag-icon.tag-materialui {
  background-image: url('assets/icons/materialui.png');
  background-size: 82.5%;
}
.tag-icon.tag-graphql {
  background-image: url('assets/icons/graphql.svg');
  background-size: 90%;
}

.github-btn {
  font-size: 45px;
  height: 45px;
  position: fixed;
  bottom: 18px;
  right: 18px;
  color: #242a2f;
  opacity: 0.8;
  overflow: hidden;
  transition: opacity linear 300ms;
}
.github-btn:hover {
  opacity: 0.9;
}
