// Header
header {
  margin: 0 0 3.25em;
  h1 {
    margin: 0 auto 0 0;
    font-size: 3em;
    letter-spacing: -3px;
    display: flex;
    flex-direction: column;
    & > span {
      background-color: #35373c;
      color: #fff;
      padding: 0 0.5em 0 35px;
      padding-right: 1.25em;
      margin: 2px auto 2px -35px;
      &:last-child {
        padding-right: 1.75em;
      }
    }
  }
  p {
    margin: 1.25em 0 0 0;
    text-align: right;
    font-family: 'Quicksand';
    span {
      font-size: 2.1em;
      margin: 0 0 0 0.4em;
      @media only screen and (max-width: 355px) {
        display: none;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    display: inline-block;
    h1 {
      font-size: 5em;
      padding-right: 1.75em;
      letter-spacing: 0;
      & > span {
        padding-right: 0.75em;
        margin-left: 0;
      }
    }
  }
}

// Github button
.github-btn {
  font-size: 45px;
  height: 45px;
  position: fixed;
  bottom: 18px;
  right: 18px;
  color: rgba(36, 42, 47, 0.775);
  overflow: hidden;
  transition: color linear 250ms;
  &:hover {
    color: rgba(36, 42, 47, 0.9);
  }
  &:after {
    content: '';
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    z-index: 1;
  }
  & > i {
    position: relative;
    z-index: 2;
  }
}
