/* Main */
$h2-size: 22px;
$icon-size: 34px; //43px;

.project-container {
  margin: 0 0 1.75em;
  display: flex;
  flex-direction: column;
  text-align: center;
  header {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  h2 {
    font-size: $h2-size;
    background-color: #35373c;
    color: #fff;
    margin: 0 -35px 1em;
    padding: 4px 35px;
  }
  @media only screen and (min-width: 768px) {
    text-align: left;
    header {
      flex-direction: row;
      margin-right: auto;
    }
    h2 {
      margin: 0 1em 0 0;
      padding: 4px 1.1em 4px 6px;
    }
  }
}

.project-description {
  // font-family: 'Space Mono'; font-weight: 300; font-size: 14px;
  // font-family: 'Cousine'; font-size: 14px;
  // font-family: 'Carme'; font-size: 13px;
  font-family: 'Quicksand';
  font-size: 0.9em;
  margin: 1.75em 0 0;
  line-height: 1.25;
}
.icon-group {
  position: relative;
  display: flex;
  justify-content: center;
  filter: saturate(0);
  opacity: 0.75;
  transition: all linear 250ms;
}
.project-container:hover .icon-group {
  filter: saturate(0.7);
  opacity: 1;
}

.icon-wrap {
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > * {
    font-size: $icon-size;
    width: $icon-size;
    height: $icon-size;
    display: block;
  }
}

.icon-name {
  position: absolute;
  left: -50%;
  right: -50%;
  top: calc(100% + 5px);
  font-family: 'Quicksand';
  font-size: 0.725em;
  font-weight: 400;
  text-align: center;
  display: none;
  opacity: 0;
  transition: opacity linear 250ms;
  &.active {
    display: block;
    opacity: 1;
  }
}

.devicon-javascript-plain.colored {
  position: relative;
}
.devicon-javascript-plain.colored:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #3a3a3a;
  z-index: -1;
}
.devicon-visualstudio-plain {
  color: #3976bf;
}
.devicon-nodejs-plain {
  color: #78bc8a;
}
.devicon-babel-plain {
  color: #444444;
}
.devicon-sequelize-plain {
  color: #3d77b8;
}
.devicons-postgresql {
  color: #40658d;
}

.tag-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.tag-electron {
  background-image: url('../assets/icons/electron.png');
  background-size: 90%;
}
.tag-jest {
  background-image: url('../assets/icons/jest.png');
  background-size: 70%;
}
.tag-knex {
  background-image: url('../assets/icons/knex.png');
  background-size: 90%;
}
.tag-redux {
  background-image: url('../assets/icons/redux.png');
  background-size: 90%;
}
.tag-materialui {
  background-image: url('../assets/icons/materialui.png');
  background-size: 82.5%;
}
.tag-graphql {
  background-image: url('../assets/icons/graphql.svg');
  background-size: 90%;
}
